body{
	padding: 1%;
	margin: 1%;
}
header{
	 background-color: #BDBDBD;
	 background-image: url("D:/WEB D/IntoToCSS3 project/images/flywheel.jpg");
	 background-size: auto;
}
h1{
	text-align: center;
    color: #ffffff;
    font-size: 263%;
    text-transform: uppercase;
}
main{
	display: inline-block;
}
.left{
    width: 20%;
    float: left;
    height: 120vh;
    background-color: #52900a;
}
.right{
    background-color: #ffffff;
    width: 79%;
    float: right;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h2{
	color: #0f2496;
    font-size: 200%;
    text-transform: uppercase;
}
p{
	font-size: 115%;
	text-align: justify;
}
nav{
	text-align: center;
}
nav a{
	display: inline-block;
    padding: 1% 7%;
    margin: 1%;
    border: 1px;
    border-radius: 50%;
    text-decoration: none;
    color: #6504ff;
    background: transparent;
    font-size: 135%;
}
nav a.active{
	background-color: #ffffff;
}
aside a{
	display: block;
    width: 80%;
    margin: 0%;
    padding: 10%;
}	
aside a img{
	height: 100%;
    width: 94%;
    border: 4px;
    border-style: solid;
    border-color: #000000;
}

table{
    font-size: 94%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    margin: 0 auto;
    width: 70%;
    line-height: 134%;
}
tr:first-child{
    background-color: #457940;	
    color: #ffffff;    
}
tr th{
    border: 1px solid #f3f9f4;
    border-bottom: 3px solid #b9d80d;
    background-color: #457940;
    background: -webkit-linear-gradient(to right, #06132b, #213dc5);
    background:    -moz-linear-gradient(to right, #06132b, #213dc5);
    background:      -o-linear-gradient(to right, #06132b, #213dc5);
    background:         linear-gradient(to right, #06132b, #213dc5);          
    padding: 1.75%;
}
tr th:first-child{
	border-top-left-radius: 10px;
}
tr th:last-child{
	border-top-right-radius: 10px;
}
tr:nth-child(n+2){
    border: 2px solid #ffffff;
    background-color: #397965;
    opacity: 0.6;
}
tr:nth-child(n+2):hover{
	opacity: 1;
}
tr td{
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 1.5%;
    text-shadow: 0px 3px 0px #010208;
}
tr td:first-child,th:first-child{
	text-align: left;
}